@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Mystery+Quest&display=swap');
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body { box-sizing: border-box; }

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 92%; 
  padding: 0 5%;
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header .wrapper { padding: 0;}
.header-logo {
  padding: 25px 0;
  font-family: 'Mystery Quest', cursive;
  font-size: 24px;
  line-height: 33px;
}

.header-logo a { color: #291507; }

.header-logo a::after { 
  content: url('/assets/images/catwikiLogo.png');
  padding-left: 8px;
  cursor: pointer;
}
/*=================================
  Header styling ends here
=================================*/  
/*=================================
  main styling starts here
=================================*/
/*banner styling starts here*/
.banner .wrapper {
  padding: 140px 5%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background: url(/assets/images/banner.jpg) #050608 no-repeat;
  background-position-y: 80%;
  background-size: cover;
  color: #FFF;
}

.banner-logo {
  font-family: 'Mystery Quest', cursive;
  font-size: 64px;
}

.cat-info {
  padding: 10px 0 40px;
  margin-right: 65%;
  font-size: 24px;
}

.banner-logo a { color: #FFF;}

#search-breed {
  width: 100%;
  height: 70px;
  padding: 33px;
  border: none;
  border-radius: 50px;
  color: #291507;
  font-size: 18px;
}

#search-breed:focus { outline: none;}

::placeholder {
  padding: 0;
  color: #291507;
  font-size: 18px;
}

.search-btn {
  border: none;
  background: none;
  position: absolute;
  top: 22px;
  bottom: 22px;
  right: 25px;
  text-indent: -9999px;
}

.search-btn::after {
  content: "\e8b6";
  font-family: 'Material Icons';
  font-size: 24px;
  color: #000;
  float: right;
  text-indent: 0;
}

.cat-search-form{
  position: relative;
  max-width: 400px;
}
.autocomplete-box {
  min-width: 398px;
  max-height: 219px;
  padding: 0;
  border-radius: 24px;
  position: absolute;
  top: 80px;
  background-color: #FFF;
  opacity: 0;
  overflow-y: auto;
  pointer-events: none;
}

.autocomplete-box-item {
  padding: 18px 8px;
  margin-bottom: 5px;
  border-radius: 12px;
  display: none;
  color: #000;
  font-size: 18px;
  font-weight: 500;
}

.autocomplete-box-item:hover { background-color: rgba(151, 151, 151, 0.1) }

.cat-search-form.active .autocomplete-box {
  padding: 20px;
  z-index: 1;
  opacity: 1;
  pointer-events: auto;
} 
.cat-search-form.active .autocomplete-box-item { display: block; } 

/*banner styling ends here*/

/* most searched section styling starts here */
.most-searched { color: #291507; }

.most-searched-txt { 
  padding-bottom: 29px;
  display: inline-block;
  font-size: 18px; 
}

.most-searched-txt::after {
  content: '';
  width: 60px;
  margin: 10px 0;
  border-bottom: 3px solid #4D270C;
  border-radius: 77px;
  display: block;
}

.most-searched .wrapper { 
  padding: 33px 5% 94px;; 
  position: relative;
  background: #E3E1DC;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.most-searched-flex {
  display: flex;
  align-items: flex-end;
}

.heading-txt {
  font-size: 48px;
  font-weight: 700;
}

.most-searched-flex .heading-txt { width: 45%; }

.read-more,
.see-more {
  color: #29150799;
  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;
}

.see-more { margin-left: auto;}

.read-more::after,
.see-more::after {
  content: "\e941";
  padding-left: 2%;
  vertical-align: middle;
  color: #7F736A;
  font-family: 'Material Icons';
  font-size: 25px;
}

.top-breeds {
  padding-top: 34px;
  display: flex;
  flex-wrap: wrap;
}

.cat-breed-item {
  margin-right: 4.8%;
  border-radius: 25px;
  flex-basis: 21.4%;
}

.yellow-background{ position: relative; }

.yellow-background::before {
  content: '';
  width: 21%;
  height: 77%;
  border-radius: 14px;
  position: absolute;
  right: 85.5%;
  bottom: 12px;
  background: #DEC68B;
}

.cat-breed-item:nth-child(4n) { margin-right: 0; }

.cat-breed-image { 
  border-radius: 24px;
  position: relative;
  z-index: 1;
}

.cat-breed { 
  padding-top: 20px; 
  display: inline-block ;
}
/* most searched section styling ends here */

/* why cats section styling starts here */
.why-cats .wrapper {
  padding: 91px 5% 100px;
  display: flex;
  justify-content: space-between;
  color: #291507;
}

.why-cats .wrapper > * { flex: 1; }
.why-cats-content { margin-right: 4%; }
.why-cats-content .heading-txt { padding-top: 84px; }
.cats-gallery-item:nth-child(even) { margin-right: 0;} 

.why-cats-content .heading-txt::before {
  content: '';
  width: 67px;
  margin-bottom: 20px;
  border-bottom: 3px solid #4D270C;
  border-radius: 77px;
  display: block;
}

.why-cats-subtxt {
  padding: 40px 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.cats-gallery {
  display: flex;
  flex-wrap: wrap;
}

.cats-gallery-item {
  flex-basis: 47.5%;
  margin-right: 5%;
}

.gallery-image { 
  margin-top: 28px;
  border-radius: 24px;
  vertical-align: middle;
}
/* why cats section styling ends here */
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer .wrapper {
  padding: 37px 5%;
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #FFF;
}

.footer-logo {
  color: #FFF;
  font-family: 'Mystery Quest', cursive;
  font-size: 24px;
}

.footer-logo img { width: inherit ; }
.footer-txt { font-size: 18px;}

.username { 
  color: #FFF;
  font-weight: 700;
  text-decoration: underline;
}



 /*=================================
  footer styling ends here
=================================*/ 

/* styling for cat_article page starts here */
.benefits-of-cat-flex {
  display: flex;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: #000;
}

.benefits-of-cat-flex > * { flex: 1;}
.benefits-of-cat-image img { border-top-right-radius: 50px;}

.sub-heading-txt {
  font-size: 24px;
  font-weight: 700;
}

.subtxt {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.benefits-of-cat-flex .subtxt {
  padding: 20px;
  color: #DEC68B;
}

.cat-benefit-item .subtxt { padding: 10px 0; }

.benefits-of-cat-content .heading-txt {
  padding: 20px;
  font-size: 40px;
  color:#DEC68B;
}

.cat-benefits-list {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #DEC68B;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
/* styling for cat_article page ends here */

/* styling for cat_breed_details page starts here */
.cat-breed-details .wrapper,
.breed-ratings-item {
  display: flex;
}

.breed-ratings-item { align-items: center; }
.breed-ratings-item:nth-child(-n+2) { padding-bottom: 24px; }
.life{ padding-bottom: 15px; } 

.other-photos-heading,
.breed-name-heading {
  padding-bottom: 10px;
  color: #291507;
  font-size: 36px;
  font-weight: 600;
}

.breed-description-heading { 
  flex-basis: 150px;
  font-size: 16px;
  font-weight: 700;
}

.breed-ratings-item span { font-size: 16px; }

.breed-description {
  padding-bottom: 19px;
  color: #291507;
  font-size: 18px;
  line-height: 22px;
}

.photos { 
  margin: 21px 0 126px;
  display: flex;
  flex-wrap: wrap;
}

.searched-cat-img { margin-right: 11%; }

.searched-cat-img img { border-radius: 24px; }

.other-photo-item {
  width: 280px;
  height: 280px;
  margin: 0 4.2% 53px 0;
  flex-basis: 21.8%;
  overflow: hidden;
}

.other-photo-item img {
  height: 100%;
  border-radius: 24px;
}

.other-photo-item:nth-child(4n) { margin-right: 0;}

.rating-outer {
  position: relative;
  display: inline-block;
}

.rating-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.rating-outer::before {
  content: "\f108 \f108 \f108 \f108 \f108";
  color: #E0E0E0;
  font-family: 'Material Icons';
  font-size: 50px;
  font-weight: 900;
}

.rating-inner::before {
  content: "\f108 \f108 \f108 \f108 \f108";
  color:#544439;
  font-family: 'Material Icons';
  font-size: 50px;
  font-weight: 900;
}


.loading-txt { 
  font-size: 24px;
  font-weight: 600;
}

/* body {
  min-height: 100vh;
  position: relative;
}

.fixed-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
} */

/* styling for cat_breed_details page ends here */

/* styling for most_searched_breed page starts here */
.top-10-searched-breeds { color: #291507;}
.top-10-breeds {padding-bottom: 96px;}

.top-breed-figure-img { 
  height: 100%;
  border-radius: 24px; 
}

.most-searched--content-heading { 
  font-size: 36px;
  font-weight: 600;
}

.most-searched-heading {
  padding-bottom: 43px;
  font-size: 36px;
  font-weight: 700;
}

.top-breed-item {
  margin-bottom: 37px;
  display: flex;
}

.top-breed-figure {
  max-width: 170px;
  min-height: 170px;
  margin-right: 4%;
  overflow: hidden;
  border-radius: 24px;
}

.most-searched-content-text {
  padding-top: 8px;
  font-size: 18px;
}
/* styling for most_searched_breed page ends here */

/*media query starts*/
/*media query for 1198px starts here*/
@media only screen and (max-width: 1198px) {
.most-searched-flex .heading-txt { width: 51%; }
}  
/*media query for 1057px starts here*/
@media only screen and (max-width: 1057px) {
.most-searched-flex .heading-txt { width: 53%; }
}  
/*media query for 1024px starts here*/
@media only screen and (max-width: 1024px) {
  .most-searched-flex .heading-txt { 
    width: 43%; 
    font-size: 35px;
  }

  /*styling cat article page start*/
  .benefits-of-cat-flex {
    flex-direction: column-reverse;
    align-items: unset;
  }

  .benefits-of-cat-image img { border-top-left-radius: 50px;}
  /*styling cat article page ends*/
}  

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  .most-searched-flex .heading-txt { width: 45% }
  .other-photo-item{ flex-basis: 47.9%; }
  .other-photo-item:nth-child(even) {margin-right: 0;}
}  

/*media query for 898px starts here*/
@media only screen and (max-width: 898px) {
  .most-searched-flex .heading-txt { 
    width: 34%; 
    font-size: 24px;
  }
}  

/*media query for 798px starts here*/
@media only screen and (max-width: 793px) {
  .most-searched-flex .heading-txt { width: 38%; }
}  

/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
  .banner-logo {font-size: 14px;}

  .cat-info { 
    padding: 5px 0 15px;
    font-size: 10px;
    margin-right: 76%;
  }

  .banner .wrapper {
    background-position: center; 
    background-size: cover;
  }

  .cat-search-form { max-width: 160px; }
  
  #search-breed {
    height: 30px;
    padding: 20px 35px 20px 11px;
    font-size: 12px;
  }

  .search-btn {
  top: 9px;
  right: 11px;
  bottom: 9px;
  }

  ::placeholder { font-size: 12px; }
  .most-searched .wrapper { padding: 30px 5%; }

  .most-searched-flex .heading-txt {
    width: 30%;
    font-size: 18px;
  }

  .most-searched-flex {
    flex-direction: column;
    align-items: flex-start;
  }

  .see-more { 
    padding-top: 10px;
    margin-left: unset;
    font-size: 12px;
  }

  .cat-breed { 
    padding: 20px 0;
    font-size: 12px;
  }

  .cat-breed-item { flex-basis: 47.6%; }
  .cat-breed-item:nth-child(even) {margin-right: 0;}
  .why-cats .wrapper { flex-direction: column; }
  .why-cats-content .heading-txt::before { width: 50px; }
  .why-cats-content .heading-txt { font-size: 40px;}
  .why-cats .wrapper { padding: 43px 5% 22px;}
  .why-cats .heading-txt { padding-top: 0;}

  .read-more { 
    padding-bottom: 22px;
    font-size: 12px; 
  }

  .why-cats-subtxt { 
    padding: 34px 0;
    font-size: 18px;
    line-height: 21px;
  }

  footer .wrapper {
    flex-direction:  column;
    align-items: flex-start;
  }

  .footer-logo { font-size: 14px; }

  .footer-txt { 
    padding-top: 7px;
    font-size: 12px;
  }

  /*styling cat article page starts*/
  .benefits-of-cat-content .heading-txt {
    padding: 20px;
    font-size: 24px;
  }

  .sub-heading-txt { font-size: 20px; }
  .subtxt { font-size: 16px;  }
  /*styling cat article page ends*/

  /*styling cat breed details page starts*/
  .other-photo-item{ flex-basis: 100%; }
  .other-photo-item { margin-right: 0;}
  .other-photo-item:last-of-type {margin-bottom: 0;}

  /*styling most searched breed page starts*/
  .top-breed-item { flex-direction: column;}
  .most-searched-content { padding-top: 10px;}
  
  .most-searched-heading {
    padding-bottom: 24px;
    font-size: 24px;
  }

  .most-searched--content-heading { font-size: 24px;}
  .most-searched--content-subtext { font-size: 16px;}

  .top-breed-figure {
    max-width: 250px;
    max-height: 250px;
  }
  /*styling most searched breed page ends*/
}  


@media only screen and (max-width: 674px) {
  .most-searched-flex .heading-txt { width: 34%; }
}

@media only screen and (max-width: 642px) {
  .most-searched-flex .heading-txt { width: 35%; }
  .cat-info { margin-right: 72%; }
}

@media only screen and (max-width: 540px) {
  .most-searched-flex .heading-txt { width: 44%; }
  .cat-info { margin-right: 66%; }
}

@media only screen and (max-width: 480px) {
  .most-searched-flex .heading-txt { width: 51%; }
  .cat-info { margin-right: 50%; }

  /*styling most searched breed*/
  .most-searched-heading { font-size: 20px;}
  .most-searched-content-text { font-size: 16px; }
  .most-searched--content-heading { font-size: 20px; }
}


@media only screen and (min-width: 768px) {
  .read-more:hover,
  .read-more:hover::after,
  .see-more:hover,
  .see-more:hover::after { 
    color: #291507; 
    transition: .4s linear;
  }

  .username:hover {
    color: #DEC68B;
    transition: .4s linear;
  }
}

